h1,h2,h3,h4,p,.botNavegacion,.button{
    font-family: 'Montserrat', sans-serif;
 }

body{
    background-color: rgb(66,126,128);
}

#contBoton{
    display: flex;
    justify-content: flex-end;
}

#botJuego{
    margin-top: 20px;
    margin-right: 60px;
    margin-left:45px
}

.botNavegacion{
    margin-top: 15px;
    width: 108px;
    height: 38px;
    font-size: 16px;
    box-shadow: 0px 1px #154454;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(/imagenes/codigo.jpeg) 50% 0 fixed;
    background-size: cover;
    height: 500px;
    margin-top: 20px;
    margin-left: -10px;
    margin-right: -10px
}

h1,h2{
    color: white;
}

h1{
    font-size: 55px;
    background-color: #2D2D2D;
    text-shadow: 4px 4px black;
}

h2{
    text-shadow: 2px 2px #154454;
    font-size: 40px;
}

#contenido{
    text-align: center; 
}

#personas{
    width: 100%;
}
article{
   
    background-color: white ;
    margin-left:200px ;
    margin-right: 200px;
}

#juego{
    width: 100%;
}
section{
    background-color: rgb(240,245,228);
}

#main1{
    display:inline-flex 
}

.tarjeta{
    margin-top: 100px;
    margin-bottom: 200px;
    border: 5px solid rgb(21,68,84);
    height: 420px;
    width: 380px;
    font-size: 14px;
}

.tarjeta,.irA,#pieDePagina{
    font-size: 14px;
}

.tituloTarjeta{
    text-align: center;
    text-indent: 0.5em;
    margin-right: 15px;
}

#tituloHistoria{
    margin-top: 40px;
}
#tituloJuego{
    margin-top: 50px
}

.irA{
    width: 150px;
    box-shadow: 0px 1px #154454;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    background-color:rgb(66,126,128);
    color: white;
    margin-left: 110px;
}

#botHistoria{
    margin-top: 20px;
}

#botJuego2{
    margin-top: 55px;
    margin-left: 110px;
}

footer{
    background-color: #1d1d1d;
    height: 80px;
    color: white;
    padding: 0px 40px;
}

#pieDePagina{
    margin-left: 150px;
 
}

br{
   text-align: center;
}

#objetivo{
    margin-left: 850px;
    margin-top: -30px;
}

/*---ESTILOS EXCLUSIVOS DE INDEX2*/
#span1, #span2,#span3{
    display: inline-flex;
}
#tituloHistoria1{
    margin-top: 210px;
    margin-left: 130px;
    margin-right: 120px;
    text-align: center;
    font-size: 39px;
   
}

#textoH1{
    width: 35%;
    margin-top: 180px;
}

#textoH2{
    width: 41%;
    margin-top: 175px;
    margin-left: 105px;
    margin-right: 100px;
}

#tituloHistoria2{
    margin-top: 240px;
}

#tituloHistoria3{
    margin-top: 260px;
    text-align: center;
    width:30% 
}

#textoH3{
    margin-top: 185px;
}

.texto, #textoH3{
    width:60%  
}

#span4{
    margin-left: 300px;
   margin-top: 150px;
}